<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="author"
      content="co-authored by Irtiza Hasan, Kareem Dabbour, Andrea Herscovich, and Justin Lim"
    />
    <meta name="description" content="Lab 6 - Introduction to Nodejs" />
    <meta name="keywords" content="This lab is an introduction to Nodejs" />
    <title>SEG3125 Lab 6</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </head>
  <body>
    <form name="form" action="#">
      <div class="wrapper">
        <h1>Shopify UI Analysis Survey</h1>
        <h4>
          What do you think of
          <a href="https://www.shopify.ca/" rel="noopener noreferrer">
            Shopify's
          </a>
          website?
        </h4>
        <a href="https://www.shopify.ca/" rel="noopener noreferrer"
          ><img src="/images/shopify.png" alt="Shopify Homepage"
        /></a>
        <div class="card">
          <label for="name"><b>Full Name:</b></label>
          <input type="text" placeholder="Enter name..." />
        </div>
        <div class="card">
          <label for="name">
            <b>Describe the website in one word:</b>
          </label>
          <input type="text" placeholder="Enter word..." name="description" />
        </div>
        <div class="card">
          <p><b>What are your favorite aspects about the website?</b></p>
          <input type="checkbox" name="favouriteAspects" value="Ease of Use" />
          <label for="easeOfUse">Ease of Use</label><br />
          <input
            type="checkbox"
            name="favouriteAspects"
            value="Interface Design"
          />
          <label for="interfaceDesign">Interface Design</label><br />
          <input
            type="checkbox"
            name="favouriteAspects"
            value="Features Provided"
          />
          <label for="featuresProvided ">Features Provided</label><br />
          <input type="checkbox" name="favouriteAspects" value="Reliable" />
          <label for="reliable ">Reliablity</label><br />
        </div>
        <div class="card">
          <p><b>How would you rate the usability of the website?</b></p>
          <input type="radio" name="usability" value="Poor" />
          <label for="poor">Poor</label><br />
          <input type="radio" name="usability" value="Satisfactory" />
          <label for="satisfactory">Satisfactory</label><br />
          <input type="radio" name="usability" value="Great" />
          <label for="great">Great</label><br />
          <input type="radio" name="usability" value="Excellent" />
          <label for="excellent">Excellent</label><br />
          <br />
        </div>
        <div class="card">
          <label for="design">
            <b>What do you like most about the website's design?</b>
          </label>
          <select name="design">
            <option value="Colours">Colours</option>
            <option value="Layout">Layout</option>
            <option value="Animation">Animation</option>
            <option value="Font">Font</option>
            <option value="Icons">Icons</option>
            <option value="Navigation">Navigation</option>
          </select>
        </div>
        <div class="card">
          <b>
            How likely are you to recommend Shopify to your friends and family?
          </b>
          <p>
            Not very likely
            <input type="range" name="recommend" min="1" max="5" />
            Very likely
          </p>
        </div>
        <div class="card">
          <b>Feedback and Comments:</b>
          <br />
          <textarea
            rows="5"
            placeholder="Enter comments..."
            name="comment"
          ></textarea>
        </div>
        <input type="submit" value="Submit" />
        <footer>Website Designed by: Group 14</footer>
      </div>
    </form>
    <script src="/assets/action.js"></script>
  </body>
</html>
