<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Survey Analysis</title>
  </head>
  <body>
    <h1>Survey Analysis</h1>
    <% Object.keys(results).forEach(key => { %>
    <h2><%= key %>:</h2>
    <% Object.keys(results[key]).forEach(i => { %>
    <ul>
      <li><%= i %> :<code> <%= results[key][i] %></code></li>
    </ul>
    <% }) %> <% }) %>
  </body>
</html>
