@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #90be6d;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form {
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #c4dbb6;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 10px;
}

a {
  color: rgb(15, 89, 63);
}

button {
  align-self: center;
}

img {
  width: 520px;
  height: 500px;
  border: 1px solid black;
}
