h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
}

html {
  scroll-padding-top: 120px;
}

body {
  margin: 0px;
}

.container > * {
  padding: 10px;
  margin-bottom: 20px;
}

.navbar {
  background-color: #d8f3dc;
}

.bg-light {
  background-color: pink;
}

.secondaryColor {
  background-color: #f0efeb;
}

.helpText {
  color: #6c757d;
}

.mb-3,
select {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
}

.card img {
  width: 100%;
  height: 325px;
}

.row {
  row-gap: 1em;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}
