.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 1em;
}

.Input {
  width: 100%;
}

.Item {
  padding: 1em;
}

.Statistics {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}
