:root {
  --primaryColor: #2c3e50;
}

body {
  background-color: #935d8c;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

.formItem {
  border-left: 1px solid var(--primaryColor);
  padding: 10px;
}

.secondaryText {
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.dietSelect {
  width: 300px;
  border-radius: 8px;
  padding: 2px;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.borderTop {
  border-top: 1px solid black;
}

.submitButton {
  display: block;
  margin-left: auto;
  background-color: var(--primaryColor);
  color: white;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 100px;
  margin-bottom: 10px;
}

.submitButton:hover {
  filter: brightness(85%);
}

figure {
  padding: 2px;
  margin: 0px;
  text-align: center;
}

.title {
  color: lightgray;
  margin: 1em;
}

.categoryTitle {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.productList label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  display: inline;
}

/*Used for styling image checkboxes: https://stackoverflow.com/questions/30663562/use-images-like-checkboxes/#answer-30663705 */
.productList label figure {
  background-color: beige;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid gray;
}

.productList input[type="checkbox"] {
  display: none;
}

.productList label:before {
  background-color: white;
  color: white;
  display: block;
  border-radius: 12px;
  position: absolute;
  top: 35px;
  left: 0px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 2;
}

.productList label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  padding: 8px;
}

.productList :checked + label {
  border-color: #ddd;
}

.productList :checked + label:before {
  content: "\2713";
  background-color: green;
  transform: scale(0.7);
}

.productList :checked + label figure {
  transform: scale(0.95);
  box-shadow: 0 0 5px #333;
  border-radius: 12px;
  background-color: bisque;
  z-index: -1;
}

.productFilterContainer {
  display: flex;
  justify-content: space-between;
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*Used for creating slider: https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primaryColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primaryColor);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:hover {
  filter: brightness(85%);
}

.wrapper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 100%;
}

/*Used for creating slider: https://www.w3schools.com/howto/howto_js_accordion.asp*/

.accordion {
  width: 100%;
  color: #444;
  cursor: pointer;
  padding: 30px;
  border: none;
  text-align: left;
  outline: none;
  background-color: var(--primaryColor);
  color: white;
}

.accordion h2 {
  color: white;
  display: inline;
}

.accordion:not(:last-of-type) {
  border-bottom: 1px solid gray;
}

.accordion[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.accordion:hover {
  filter: brightness(85%);
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.accordion:after {
  content: "\003E";
  color: #777;
  float: right;
  margin-left: 5px;
  font-size: 15px;
}

.active:after {
  content: "\2304";
  font-size: 15px;
}

.hidden {
  display: none;
  opacity: 0;
}

.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
