body {
  background-color: #935d8c;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

.formItem {
  border-left: 1px solid gray;
  padding: 10px;
}

.secondaryText {
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dietSelect {
  width: 300px;
  border-radius: 8px;
  padding: 2px;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.borderTop {
  border-top: 1px solid black;
}

.flexEndWrapper {
  display: flex;
  justify-content: flex-end;
}

figure {
  padding: 2px;
  margin: 0px;
  text-align: center;
}

button {
  background-color: #be8cbe;
  color: white;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 100px;
}

button:hover {
  background-color: #c79cc8;
}

.title {
  color: lightgray;
  margin: 1em;
}

.categoryTitle {
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #efa8b0;
  border: 2px solid black;
  border-radius: 12px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > label {
  background: #efa8b0;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  padding: 1em 1.5em;
  border-bottom: 0;
}

.tabs > label:hover {
  background: #c79cc8;
}

.tabs .tabContent {
  width: 100%;
  padding: 2em;
  background: #e5e5e5;
  order: 1;
  display: none;
  border-top: 1px solid black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tabs > input[type="radio"]:checked + label {
  background: #be8cbe;
}

.tabs > input[type="radio"]:checked + label + .tabContent {
  display: block;
}

.tabs > input[type="radio"]:disabled + label {
  cursor: not-allowed;
  color: gray;
}

.tabs > input[type="radio"]:first-of-type + label {
  border-top-left-radius: 12px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
}

.productList label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  display: inline;
}

/*Used for styling image checkboxes: https://stackoverflow.com/questions/30663562/use-images-like-checkboxes/#answer-30663705 */
.productList label figure {
  background-color: beige;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid gray;
}

.productList input[type="checkbox"] {
  display: none;
}

.productList label:before {
  background-color: white;
  color: white;
  display: block;
  border-radius: 12px;
  position: absolute;
  top: 35px;
  left: 0px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 2;
}

.productList label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  padding: 8px;
}

.productList :checked + label {
  border-color: #ddd;
}

.productList :checked + label:before {
  content: "\2713";
  background-color: green;
  transform: scale(0.7);
}

.productList :checked + label figure {
  transform: scale(0.95);
  box-shadow: 0 0 5px #333;
  border-radius: 12px;
  background-color: bisque;
  z-index: -1;
}
